body {
  background-color: #282828;
  background-color:#69F0AE;
  color: #F9FBE7;

  transition: 0.5s;
}

#wrapper{
  height:100vh;
  
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  position: relative;

  color: inherit;
  
  font-family: "Roboto","Lucida Console";
  font-size: 5em;
  font-weight:300;
}

input{
  border: 0;
  border-bottom: 1px solid;
  outline: 0;
  margin: 10px;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 2px;
  background-color: inherit;
  color: inherit;
  font-size: 2rem;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}